body {
  margin: 0;
  background: black;
  color: #ccc;
  font-family: "Futura", sans-serif;
  font-size: 32px;
}

.slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  color: orange;
}

p {
  margin: 0;
}

p,
ul,
blockquote {
  max-width: 50%;
}

ul,
li {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5em 0;
}

blockquote:before {
  position: absolute;
  content: '"';
  display: block;
  transform: translate(-0.5em, 0);
}
